section.edit {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto;

    div.viewport {
        position: relative;

        canvas {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    aside {
        min-width: 320px;
        width: 320px;

        border-left: 1px solid #ddd;
        
        display: flex;
        flex-direction: column;

        nav {
            display: flex;

            button {
                background: transparent;

                font-family: "Inter";
                font-size: 10pt;
                font-weight: 400;

                padding: 6px 20px;
                border: none;
                border-bottom: none;
                outline: none;

                flex-grow: 1;

                &.active {
                    box-shadow: inset 0px -2px #333;
                }
            }
        }

        div.listContainer {
            height: 0; // WTF???

            flex-grow: 1;
            overflow-y: scroll;
        }

        div.glyphList {
            background: #eee;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1px;

            div.glyph {
                max-width: 75px;

                background: #fff;

                display: flex;
                flex-direction: column;

                label {
                    background: #fafafa;

                    font-size: 9pt;
                    font-weight: 500;
                    text-align: center;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    
                    padding: 2px;

                    overflow: hidden;
                }

                canvas {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    div.glyphBar {
        font-family: "Inter";
        font-size: 24pt;
        text-align: center;

        border: none;
        outline: none;
        padding: 6px 20px;

        div.ntglyph {
            height: 1em;
            box-sizing: border-box;

            background: #eee;
            border-radius: 4px;
            border: 1px solid #ddd;
            margin: 0px 1px;

            display: inline-flex;
            align-items: center;

            span {            
                font-size: 16pt;
            }
        }
    }

    div.glyphSwitchButtons {
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0;
        bottom: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
    }

    button.prevGlyph,
    button.nextGlyph {
        background: #fff;

        font-size: 0;

        outline: none;
        padding: 6px 8px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0px 2px 4px #0001;

        pointer-events: all;
        z-index: 10;

        &:hover {
            background: #eee;
        }

        &:active {
            background: #ddd;
        }

        img {
            width: 16px;
            height: 16px;
        }
    }

    div.tools {
        padding: 8px 2px;

        display: flex;
        flex-direction: column;

        border-right: 1px solid #ddd;

        button {
            background: transparent;

            font-size: 0;

            border: none;
            outline: none;
            padding: 7px 8px;
            border-radius: 4px;

            &:hover {
                background: #eee;
            }

            &:active {
                background: #ddd;
            }

            &.active {
                background: #eee;
                box-shadow: inset 0px 0px 0px 1px #bbb;
            }

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    div.subactionsBar {
        position: absolute;
        left: 8px;
        right: 8px;
        top: 8px;

        display: flex;
        justify-content: flex-start;
    }

    div.subactions {
        background: #fff;

        padding: 2px;
        border-radius: 4px;
        border: 1px solid #bbb;

        box-shadow: 0px 2px 4px #0001;

        display: flex;
        z-index: 10;

        & > div:not(:last-child) {
            border-right: 1px solid #ddd;
            padding: 0px 2px 0px 0px;
        }

        & > div:not(:first-child) {
            padding: 0px 0px 0px 2px;
        }

        button {
            background: transparent;

            font-size: 0;

            border: none;
            outline: none;
            padding: 4px 6px;
            border-radius: 2px;
            
            &:disabled img {
                filter: grayscale(1) opacity(0.5);
            }

            &:hover {
                background: #eee;
            }

            &:active {
                background: #ddd;
            }

            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}