main {
    position: fixed;
    left: 0;
    top: 0;
    right: 320px;
    bottom: 0;

    background: var(--var-panel-bg);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > nav {
        width: 100%;

        padding: 0px;

        display: flex;

        div.actions {
            display: flex;

            button {    
                background: transparent;
    
                border: none;
                outline: none;
                padding: 7px 10px;
                border-radius: 4px;
                margin-bottom: 2px;
    
                display: flex;
                align-items: center;
                justify-content: center;
    
                &:hover {
                    background: var(--var-button-hover);
                }
    
                &:active {
                    background: var(--var-button-active);
                }
            }
        }

        div.tabs {
            display: flex;
            flex-grow: 1;
            justify-content: center;

            button {
                background: transparent;
    
                font-family: "Inter";
                font-size: 10pt;
                font-weight: 500;
    
                padding: 6px 20px;
                border: none;
                border-bottom: none;
                border-radius: 2px 2px 0px 0px;
                outline: none;
    
                &.active {
                    background: #fff;
                }
            }
        }
    }

    section {
        position: relative;

        background: var(--var-large-bg);

        width: 100%;

        flex-grow: 1;
    }
}