body {
    background: #eee;
}

main {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    nav {
        background: #ddd;

        padding: 4px 4px 0px 4px;

        display: flex;
        justify-content: center;

        button {
            background: transparent;

            font-family: sans-serif;
            font-size: 11pt;

            padding: 4px 12px;
            border: none;
            border-bottom: none;
            border-radius: 4px 4px 0px 0px;
            outline: none;

            &.active {
                background: #eee;
            }
        }
    }

    section {
        flex-grow: 1;
    }
}

section.edit {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(1, 1fr);

    div.tools {
        padding: 2px;

        display: flex;
        flex-direction: column;

        button {
            background: transparent;

            border: none;
            outline: none;
            padding: 4px;
            border-radius: 4px;

            &.active {
                background: #08f;

                img {
                    filter: invert(1);
                }
            }

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}