article.welcome {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    *::-webkit-scrollbar {
        width: 8px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background: var(--var-panel-sep);

        box-shadow: inset 2px 0px var(--var-large-bg);
    }

    & > div {
        width: 366px;
        height: calc(100vh - 80px);

        margin: 60px;

        display: flex;
        flex-direction: column;

        div.recentFiles {
            margin-left: 8px;

            flex-grow: 1;
            overflow-y: auto;
        }

        div.buttons {
            margin: 0px 8px;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2px;
        }

        h1 {
            font-size: 40pt;
            line-height: 1;

            margin: 0px 8px;

            text-align: center;
        }

        h3 {
            font-size: 14pt;
            font-weight: 400;

            margin: 0px 8px 24px 8px;

            text-align: center;
        }

        h2 {
            font-weight: 400;
            
            margin-left: 8px;
            margin-right: 8px;
            margin-bottom: 8px;
        }

        button {
            width: 100%;

            background: var(--var-panel-bg);
            color: var(--var-text-fg);

            font-family: "Inter";

            border: none;
            outline: none;
            padding: 7px 8px;
            border: 1px solid var(--var-panel-sep);
            border-radius: 4px;
            margin-bottom: 2px;

            display: flex;
            align-items: center;
            justify-content: center;

            &.recent {
                flex-direction: column;
                justify-content: flex-start;
            }

            label.name {
                font-size: 12pt;
                font-weight: 500;
            }

            label.path {
                opacity: 0.6;
            }
    
            &:hover {
                background: var(--var-button-hover);
            }
        
            &:active {
                background: var(--var-button-active);
            }

            img {
                margin-right: 8px;

                &.preview {
                    width: 332px;
                    height: auto;

                    margin: 0;
                }
            }
        }
    }

    canvas.previewGenerator {
        position: absolute;
        pointer-events: none;
        opacity: 0;
    }
}